# Frontend Environment Variables
VITE_ROOM_BACKEND_URL=http://localhost:8080
VITE_AUTH_BACKEND_URL=http://localhost:8000
VITE_WEBSITE_URL=http://localhost:3000
VITE_SUPERTOKENS_URL=http://localhost:3567